<!DOCTYPE html>

<html>

    <head>

        <title>Kolt Django Workshop</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>

    <body>

        <div class="container" align="center">
        
            <br>
            <h1>welcome to kolt's blog</h1>
            <h2>learning django is great!</h2>
            <br>

        </div>

        <div class="container">

            {% if posts %}

                {% for post in posts %}

                    <hr>
                    <h1><a href={% url 'post_detail' pk=post.pk %}>{{post.title}}</a></h1>
                    <p>{{post.text|truncatechars:200}}</p>
                    <p>{{post.create_date}}

                {% endfor %}

                    <hr>

            {% endif %}

        </div>

    </body>


</html>